packages:
  yum:
    git: []

container_commands:
  01_syncdb:
    command: "python manage.py syncdb --noinput"
    leader_only: true
  02_migrate_chat:
    command: "python manage.py migrate chat"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: settings
  - option_name: AWS_SECRET_KEY
    value: 
  - option_name: AWS_ACCESS_KEY_ID
    value: 
